* {
  box-sizing: border-box;
}

header {
  height: 110px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

a.active-link {
  font-weight: bold;
  text-decoration: underline;
  color: #161616;
}

header a {
  text-decoration: none;
  font-weight: 600;
  color: #4d4d4d;
  padding: 5px 20px;
}

header .logo {
  color: black;
  font-family: 1000;
  font-size: 25px;
}

header a:hover {
  color: #161616;
  text-decoration: underline;
}

/* Home page */
.home-container {
  background-image: url("./Image/mountain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
}

.home-container h1 {
  padding: 180px 0 0 0;
  display: flex;
  justify-content: center;
  color: #1e85d2f7;
}

.home-container p {
  line-height: 24px;
  display: flex;
  justify-content: center;
  color: #1e85d2;
}

.home-container a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #ff8c38;
  border: none;
  width: 55%;
  margin-top: 27px;
  padding-block: 0.75rem;
  margin-left: 300px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
}

/* about-page */

.about-content {
  padding-inline: 23px;
  color: #161616;
  margin-bottom: 55px;
}
.about-content h1 {
  line-height: 38px;
}

.about-content p {
  line-height: 22px;
}

.about-cta {
  background-color: #ffcc8d;
  color: black;
  padding-inline: 32px;
  padding-bottom: 32px;
  border-radius: 5px;
  margin-inline: 35px;
}

.about-cta h2 {
  margin: 0;
  padding-block: 37px;
}

.about-cta .link-button {
  background-color: black;
  border-radius: 10px;
  color: white;
  padding: 15px;
  text-decoration: none;
  cursor: pointer;
}

/* Vans page */
.van-list-container {
  padding-inline: 23px;
}

.van-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 34px;
  margin-top: 57px;
}

.van-title a {
  max-width: 100%;
  text-decoration: none;
}

.van-title img {
  max-width: 100%;
  border-radius: 5px;
}

.van-list-container button {
  margin-right: 20px;
  cursor: pointer;
}

.van-type {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #ffead0;
}

.van-type.selected {
  color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
  background-color: #e17654;
}
.van-type.rugged:hover,
.van-type.rugged.selected {
  background-color: #115e59;
}
.van-type.luxury:hover,
.van-type.luxury.selected {
  background-color: #161616;
}

i[class*="van-type-"] {
  padding: 7px 14px;
}

.van-info h3,
p {
  color: black;
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4d4d4d;
}

/* Van-details */

.van-detail-container {
  padding: 27px;
}

.van-detail-container .back-button {
  color: black;
  text-decoration: none;
}

.van-detail-container .back-button:visited {
}

.van-detail-container .back-button span {
  text-decoration: underline;
}

.van-detail {
  display: flex;
  flex-direction: column;
  color: #161616;
}

.van-detail img {
  border-radius: 5px;
  margin-block: 47px;
}

.van-detail h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.van-detail > i {
  align-self: flex-start;
}

.van-detail .van-price {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.van-detail .van-price span {
  font-weight: 700;
  font-size: 1.5rem;
}

.van-detail .link-button {
  background-color: #ff8c38;
  color: white;
  font-size: 20px;
  padding: 10px;
}

/* Footer */
footer {
  text-align: center;
  color: white;
  margin-top: 30px;
  background-color: black;
  max-width: 100%;
  height: 100px;
}

footer p {
  font-size: 20px;
  padding-top: 35px;
  color: white;
}

/* Host */

.host-nav {
  display: block;
}

.host-nav nav {
  margin-bottom: 50px;
}

.host-nav a {
  text-decoration: none;
  padding: 5px 20px;
  font-weight: 500;
  color: #4d4d4d;
}

.host-nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 600;
}

/* host van details */
.host-van-link-wrapper {
  color: unset;
  text-decoration: unset;
}

.host-vans-list {
  padding-inline: 26px;
}

.host-vans-title {
  padding-inline: 26px;
}

.host-van-single {
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 15px;
  padding-block: 18px;
  padding-left: 24px;
}

.host-van-single > img {
  height: 70px;
  font-weight: 600;
  margin-block: 10px;
  margin-right: 10px;
}

host-van-info h3 {
  font-size: 20px;
  font-weight: 600;
  margin-block: 10px;
}

.host-van-info p {
  margin-block: 10px;
}

.listedVans h1 {
  margin-top: 40px;
}

/* host van details */

.host-van-detail-layout-container {
  background-color: white;
  padding: 24px;
  margin: 30px 26px;
}

.host-van-detail {
  display: flex;
  align-items: center;
}

.host-van-detail > img {
  height: 160px;
  border-radius: 5px;
  margin-right: 20px;
}

.host-van-detail-info-text > h3 {
  margin-top: 24px;
  margin-bottom: 5px;
  font-size: 26px;
  font-weight: 700;
}

.host-van-detail-info-text > h4 {
  font-size: 20px;
  margin-block: 0;
}

.back-button {
  font-size: 20px;
  font-weight: 700;
}

.host-detail-nav {
  margin-top: 25px;
  margin-bottom: 25px;
}

.host-van-detail-info > h4 {
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
}

.host-van-detail-info > h4 > span {
  font-weight: 400;
}

.host-van-price {
  font-size: 24px;
  font-weight: 500;
}

.host-van-price > span {
  font-size: 16px;
  color: #4d4d4d;
}

.host-van-detail-image {
  height: 100px;
  border-radius: 5px;
}

.van-list-filter-buttons {
  display: flex;
  flex-direction: row;
  gap: 50px;
  font-size: 40px;
}

/* notfound */
.not-found-container {
  padding-inline: 26px;
}

.not-found-container .link-button {
  padding: 20px 330px;
  text-decoration: none;
  background-color: #161616;
  color: white;
}
